html{
  width:100vw;
  min-height:100vh;
  font-size:2.66666667vw;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
div,
a,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
select{
  box-sizing:border-box;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}